<main>
  <h1 class="title">My Playlist</h1><hr>
  
  <button class="btn btn-primary add_close" ng-click="addSong1 = !addSong1" ng-show="!addSong1">Add Song</button>
  <button class="btn btn-danger add_close" ng-click="addSong1 = !addSong1" ng-show="addSong1">Close</button>

  <div ng-if="addSong1">    
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Song name" ng-model="newSong.name">
      <input type="text" class="form-control" placeholder="Song adress" ng-model="newSong.adress">
    </div>
    <button type="button" class="btn btn-secondary" ng-click="addSong(newSong)" ng-show="addSong">Add</button>
  </div>

  <ul id="unstyled" class="song_list">
    <li ng-repeat="song in songs">
      <ul id="unstyled">
        <li>{{song.name}}</li>
        <li class="onee">
          <audio src="{{song.adress}}" controls loop id="audioPlayer">song here</audio>
        </li>
        <li class="onee">
          <button type="button" class="btn btn-dark btn-sm" ng-click="removeItem(song)">x</button>
        </li>
      </ul>
    </li>
  </ul>

  

</main>



