body {
  background: #595959;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

.song_list {
  border-radius: 3%; 
  position: relative;
  background-color: #d9d9d9;
  box-shadow: 0 0 20px #001a4d;
  padding: 4%;
  width: 80%;
  margin: auto;
  height: 60vh;
  overflow: auto;
}

p{
	margin-bottom: 0;
}

.audio-container {
	display: flex;
	justify-content: space-around;
}

audio {
	width: 90%;
}

.add_close {
	margin-bottom: 3%;
}

.add_song {
  width: 80%;
  margin: auto;
}

.btn_add_song {
  margin: 3%;
}

.inline {
	display: inline;
}
